$bg-color: #27221f;
$nav-bg: #1d1814;
$body-color: #d8d9d7;
$headline-font: "Ubuntu", sans-serif;
$body-font: "Open Sans", sans-serif;

$druid: #ff7c0a;
$paladin: #f48cba;
$hunter: #aad372;
$mage: #68ccef;
$warrior: #c69b6d;
$warlock: #9382c9;
$priest: #f0ebe0;
$shaman: #2359ff;
$rogue: #fff468;

@mixin borderDesign {
	border: 0;
	border-radius: 5px;
	border: 1px solid #373533;
	border-top: 1px solid #514f4c;
	box-shadow: 0 0 0 2px #2c2925, 0 5px 5px rgba(0, 0, 0, 0.5);
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

html {
	font-size: 16px;
	font-family: $body-font;
	background-color: $bg-color;
	color: lightgray;
}

.clearfix {
	&:after {
		content: "";
		clear: both;
		display: table;
	}
}

body {
	margin: 0;
}

.caps {
	text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Ubuntu", sans-serif;
}

a {
	transition: border-color 0.1s, color 0.1s;
}

section {
	transition: height 0.2s ease-in-out;
}

.container {
	width: 1286px;
	max-width: 100%;
	padding: 0 40px;
	margin: auto;
	align-self: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.character {
	&-list {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			background-color: rgba(0, 0, 0, 0.1);
			border: 1px solid rgba(255, 255, 255, 0.25);
			padding: 1em 1.5em;
			figure {
				padding: 0;
				margin: 0;
			}
			h3,
			h4,
			h5 {
				margin-top: 0.25em;
				margin-bottom: 0.25em;
			}
			button {
				background-color: rgba(255, 255, 255, 0.1);
				border: 0;
				color: $body-color;
				cursor: pointer;
				font-style: italic;
				padding: 0.5em 1em;
				margin-right: 1ch;
				transition: all 0.1s ease-in-out;
				&:last-of-type {
					margin-right: 0;
				}
				&:hover {
					background-color: rgba(255, 255, 255, 0.3);
				}
			}
		}
		.selected {
			background-color: rgba(0, 0, 0, 0.5);
		}
	}
}

.left {
	text-align: left;
}
.blurb {
	width: 32%;
}
.faction,
.race,
.playerclass,
.spec {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	h2 {
		font-size: 0.7rem;
		font-weight: lighter;
		letter-spacing: 0.2ch;
		margin: 0 auto 10px;
		text-transform: uppercase;
		width: 100%;
	}
	[type="radio"] {
		position: absolute;
		opacity: 0;
		width: 0;
		height: 0;
	}
}

$classColors: (
	"Druid": $druid,
	"Hunter": $hunter,
	"Mage": $mage,
	"Paladin": $paladin,
	"Priest": $priest,
	"Rogue": $rogue,
	"Shaman": $shaman,
	"Warlock": $warlock,
	"Warrior": $warrior,
);
@mixin active-nav($classColor) {
	&.active {
		color: white;
		background-color: rgba(0, 0, 0, 0.2);
		border-bottom: 1px solid $classColor;
		box-shadow: 0 7px 5px -5px rgba($classColor, 0.5);
	}
	&:hover {
		border-color: $classColor;
	}
}
@mixin class-nav-colors {
	@each $name, $color in $classColors {
		&#{$name} {
			@include active-nav($color);
		}
	}
}
.playerclass- {
	@include class-nav-colors;
}

.level,
.name {
	label {
		display: block;
		margin: 0 auto 10px;
		width: 100%;
		font-weight: bold;
	}
	input {
		background-color: #27221f;
		color: lightgray;
		font-size: 1.25rem;
		padding: 10px 20px;
		border: 0;
		border: 1px solid #373533;
		border-top: 1px solid #514f4c;
		overflow: hidden;
		width: 6ch;
	}
	h2 {
		font-size: 0.7rem;
		font-weight: lighter;
		letter-spacing: 0.2ch;
		margin: 0 auto 10px;
		text-transform: uppercase;
		width: 100%;
	}
}

.name {
	margin-right: 2ch;
	input {
		min-width: 18ch;
		text-align: left;
	}
}
.content {
	padding-top: 40px;
	padding-bottom: 60px;
	h1 {
		width: 100%;
	}
}

article {
	background-color: #2e2a25;
	border: 1px solid #707070;
	margin-bottom: 10px;
	padding: 20px 30px;
	width: 100%;
	figure {
		margin: 0;
		display: flex;
		figcaption {
			width: 100%;
			padding-left: 2ch;
		}
		img {
			width: 36px;
			height: 36px;
			border-radius: 3px;
			border: 1px solid #373533;
			border-top: 1px solid #514f4c;
			box-shadow: 0 0 0 1px #2c2925, 0 2px 2px rgba(0, 0, 0, 0.5);
		}
	}
	h3 {
		margin: 0;
		margin-bottom: 10px;
		display: flex;
		justify-content: space-between;
		span {
			margin-left: auto;
		}
	}
	small {
		display: block;
		opacity: 0.75;
	}
	ul {
		height: 0;
		margin: 0;
		padding: 0;
		list-style: none;
		transition: all 0.2s ease-in-out;
		overflow: hidden;
		&.open {
			padding-top: 20px;
		}
		li {
			margin-bottom: 10px;
			a {
				display: block;
				background-color: #231f1c;
				padding: 10px 20px;
				text-decoration: none;
				color: #d8d9d7;
				h3,
				h4 {
					margin: 0;
					line-height: 1.5;
				}
				h3 {
					font-size: 16px;
				}
				h4 {
					font-size: 14px;
					font-family: $body-font;
					font-weight: lighter;
				}
			}
		}
	}
}

.inactive {
	opacity: 20%;
	background-color: #2e2a25;
	&:hover {
		opacity: 1;
	}
}

.faction-icon,
.class-icon,
.race-icon,
.spec-icon,
.zone-icon {
	cursor: pointer;
	transition: all 0.1s ease;
	min-width: 48%;
	margin: 5px 10px;
	margin-left: 0;
	figure {
		margin: 0;
		padding: 10px 20px;
		background-color: #393530;
		border-radius: 3px;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		align-items: center;
		img {
			margin: 0 20px 0 0;
			border-radius: 5px;
			border: 1px solid #373533;
			border-top: 1px solid #514f4c;
			box-shadow: 0 0 0 2px #2c2925, 0 5px 5px rgba(0, 0, 0, 0.5);
			overflow: hidden;
			max-width: 100%;
			width: 32px;
		}
		&:hover {
			filter: brightness(125%) opacity(100%);
		}
	}
}
.race-icon {
	min-width: 23%;
}

.class-icon {
	min-width: 31%;
}

.faction-icon,
.zone-icon {
	figure {
		img {
			border-radius: 50%;
		}
	}
}

.input {
	&-character {
		background-color: #2e2a25;
		border: 1px solid #707070;
		display: grid;
		grid-template-rows: repeat(auto, 4);
		width: 67%;
		padding: 40px;
		& > section {
			margin-bottom: 40px;
			&:last-child {
				margin: 0;
			}
		}
	}
	&-namelevel {
		display: flex;
		flex-flow: row wrap;
	}
	&-submit {
		position: relative;
		transform: translateY(60px);
		a {
			display: block;
			position: absolute;
			right: 0;
			bottom: 0;
			background-color: #982529;
			color: #fdfffc;
			padding: 10px 25px;
			text-decoration: none;
			text-transform: uppercase;
			letter-spacing: 0.2ch;
			transition: all 0.1s ease-in-out;
			&:hover,
			&:active {
				filter: contrast(1.25) brightness(1.25);
				transform: translateX(5px);
			}
		}
	}
}

.selection-title {
	width: 100%;
	display: block;
	text-transform: uppercase;
	margin-top: 0.5rem;
	font-size: 0.8rem;
	letter-spacing: 0.2ch;
	font-weight: bold;
	position: relative;
	height: 0;
	overflow: hidden;
	opacity: 0;
	transition: all 0.1s ease-in-out;
	&.chosen {
		height: 1rem;
		overflow: visible;
		opacity: 1;
	}
}
.results-container {
	display: flex;
	flex-flow: row wrap;
	padding: 0 50px 10px;
}

.suggestions-section {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-top: 20px;
	& > div {
		width: 45%;
		margin: 0 1.75% 1.75%;
		@include borderDesign;
		&:first-child,
		&:nth-child(3) {
			margin-right: 0;
		}
	}
	h3 {
		background-color: #191919;
		padding: 10px 15px;
	}
}
.dungeons-display {
	padding: 0 20px;
	h3 {
		width: 100%;
	}
	.dungeons,
	.raids {
		margin: 0 5px 10px;
		padding: 10px 15px;
		width: 31%;
		background: rgb(16, 16, 16);
		background: linear-gradient(0deg, rgba(30, 30, 30, 1) 5%, rgba(48, 48, 45, 1) 95%);
		h4 {
			margin-top: 0;
			display: flex;
			justify-content: space-between;
			a {
				color: white;
			}
		}
		a {
			text-decoration: none;
			color: #ebb54c;
			display: inline-block;
		}
	}
	.dungeons {
		@include borderDesign();
		text-align: left;
		border-top: 2px solid #0029f8;
	}
	.raids {
		@include borderDesign();
		text-align: left;
		border-top: 2px solid #8600f8;
	}
	.dungeon,
	.raid {
		&-block {
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-start;
			margin-bottom: 20px;
		}
	}
}

.info {
	&-header {
		display: block;
		font-size: 0.7rem;
		text-transform: uppercase;
		letter-spacing: 0.2ch;
		margin-bottom: 5px;
	}
}

.tier {
	font-size: 0.7rem;
	text-transform: uppercase;
	letter-spacing: 0.2ch;
	text-align: right;
	margin-left: 10px;
	&-num {
		display: block;
		font-size: 1rem;
		font-weight: bold;
	}
}
.stat-list {
	list-style: none;
	margin: 0;
	padding: 0 10px;
	text-align: left;
	.stat {
		float: right;
	}
}

.gear {
	main {
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
	li {
		position: relative;
	}
	h4 {
		font-size: 0.8em;
		font-style: italic;
		opacity: 0.7;
	}
	.column {
		width: 100%;
	}
	@media (min-width: 768px) {
		.column {
			width: 48%;
		}
	}
	@media (min-width: 1168px) {
		.column {
			width: 32%;
		}
	}
	.faction-icon {
		min-width: auto;
		width: 24px !important;
		position: absolute;
		top: 0.75em;
		right: 0.75em;
		margin: 0;
	}
	&-title {
		text-transform: capitalize;
	}
	&-link {
		display: grid;
		text-decoration: none;
		align-items: center;
		width: 30%;
		grid-template-columns: 48px 1fr;
		grid-template-rows: 48px;
		grid-gap: 0.5rem;
	}
	&-list {
		display: flex;
		flex-flow: column wrap;
		height: 240px;
	}
	&-icon {
		width: 32px;
		height: 32px;
		border: 1px solid #403f3b;
		border-top: 1px solid #6f6f6f;
		overflow: hidden;
		border-radius: 5px;
		background: rgb(16, 16, 16);
		box-shadow: 0 0 0 2px #1f1f1a, 0px 5px 10px rgba(0, 0, 0, 0.5);
		margin: 0 auto 6px;
		display: flex;
		&.ammo {
			width: 40px;
			height: 40px;
			margin: auto;
		}
		&:last-child {
			margin: 0 auto;
		}
		img {
			width: 32px;
			max-width: 100%;
			margin: auto;
			opacity: 0.5;
		}
	}
	&-name {
		display: block;
		text-align: left;
		color: white;
		text-transform: uppercase;
		font-size: 0.8rem;
		letter-spacing: 0.1ch;
		text-decoration: none;
	}
}

header {
	ul {
		background-color: $nav-bg;
		border: 1px solid rgba(255, 255, 255, 0.1);
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		list-style: none;
		margin: 0;
		padding: 0;
		a {
			border-bottom: 1px solid transparent;
			color: #adadad;
			display: block;
			font-family: $headline-font;
			font-size: 18px;
			font-weight: bold;
			padding: 20px 30px;
			text-decoration: none;
			text-transform: uppercase;
			&:hover {
				color: #fdfffc;
				border-color: #fff468;
			}
		}
		.container {
			justify-content: center;
		}
	}
	.container {
		display: flex;
		justify-content: space-between;
	}
}

.resist-icons {
	float: right;
	& > div {
		border: 1px solid lightgray;
		width: 36px;
		height: 36px;
	}
}

.quests {
	padding: 0 30px;
	&-level,
	&-class {
		text-transform: capitalize;
	}
	&-boxes {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
		justify-items: stretch;
		height: 50px;
		margin-bottom: 1rem;
		p {
			margin: 0;
			align-self: center;
			width: 50%;
			height: 100%;
			display: flex;
			justify-content: stretch;
			padding: 5px 10px;
			align-items: center;
			a {
				display: flex;
				width: 100%;
				height: 100%;
				justify-content: center;
				align-items: center;
				color: white;
				text-decoration: none;
				transition: all 0.1s ease-in-out;
				background-color: rgba(0, 0, 0, 0.3);
				box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.5);
				border-radius: 3px;
				&:hover {
					color: #bc9902;
					background-color: rgba(0, 0, 0, 0.5);
				}
			}
		}
	}
	&-zones {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		padding: 0 10px 30px;
		grid-gap: 0px;
		justify-content: space-evenly;
		justify-items: stretch;
		h2 {
			font-size: 1.2rem;
		}
		h4 {
			margin-bottom: 0;
			text-align: left;
			color: #e0b700;
			padding: 0 10px;
		}
	}
	&-zone {
		font-size: 1rem;
		position: relative;
		margin-bottom: 10px;
		background-color: #2e2a25;
		a {
			display: flex;
			flex-flow: row wrap;
			align-items: flex-start;
			justify-content: space-between;
			padding: 15px 20px;
			position: relative;
			background-color: #231f1c;
			color: white;
			font-weight: bold;
			text-decoration: none;
			display: block;
			cursor: pointer;
			text-align: left;
			font-size: 0.9rem;
			align-self: center;
			width: 100%;
			border: 1px solid transparent;
			transition: all 0.1s ease-in-out;
			&:hover {
				border-bottom-color: #982529;
				filter: contrast(1.15) brightness(1.15);
			}
		}
		div {
			text-align: left;
			align-self: center;
			&.quests-range {
				width: 100%;
				margin-right: auto;
				flex-grow: 1;
			}
			small {
				display: inline-block;
				font-size: 0.7rem;
				font-weight: lighter;
				color: #d8d9d7;
				text-transform: uppercase;
				letter-spacing: 0.2ch;
				margin-right: 5px;
			}
		}
		.icons {
			position: absolute;
			top: 50%;
			right: 20px;
			transform: translateY(-50%);
			display: flex;
		}
		.faction,
		.zone {
			&-icon {
				margin: 5px 5px;
				overflow: visible;
				width: 24px;
				height: 24px;
				min-width: 0;
				img {
					width: 24px;
					height: 24px;
					border-radius: 50%;
					overflow: hidden;
				}
				&:after {
					content: attr(data-faction);
					background-color: rgba(1, 7, 33, 0.8);
					border-radius: 3px;
					display: flex;
					justify-content: center;
					align-items: center;
					height: 0;
					position: absolute;
					bottom: 28px;
					left: 50%;
					transform: translateX(-50%);
					transition: all 0.1s ease-in-out;
					overflow: hidden;
					box-sizing: border-box;
					opacity: 0;
					font-size: 0.8rem;
					text-transform: capitalize;
				}
				&:hover {
					&:after {
						border: 1px solid #777777;
						box-shadow: 0 0 0 1px #000000;
						border-top-color: #cfcfcf;
						height: 1.6rem;
						padding: 0 10px;
						opacity: 1;
					}
				}
			}
		}
	}
	&-link {
		display: block;
	}
}

.zones {
	&-container {
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		display: grid;
		align-items: flex-start;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 20px;
		& > div {
			padding: 20px 30px;
			background-color: #2e2a25;
			h3 {
				margin: 0;
				margin-bottom: 0.25rem;
				display: flex;
				justify-content: space-between;
			}
			small {
				color: $body-color;
				font-style: italic;
			}
		}
	}
	&-list {
		height: 0;
		opacity: 0;
		overflow: hidden;
		transition: all 0.2s ease-in-out;
		&.open {
			opacity: 1;
			padding-top: 20px;
		}
	}
}

h3 {
	&.legendary {
		color: #ff8000 !important;
	}
	&.epic {
		color: #a335ee !important;
	}
	&.rare {
		color: #0070dd !important;
	}
	&.uncommon {
		color: #1eff00 !important;
	}
}
