$bg-color: #27221f;
$bg-bright: #2e2a25;
$nav-bg: #1d1814;
$bg-highlight: #393530;
$body-color: #d8d9d7;
$cta-color: #982529;
$iLvl: #ffd100;
$headline-font: "Ropa Sans", sans-serif;
$body-font: "Open Sans", sans-serif;

$druid: #ff7c0a;
$paladin: #f48cba;
$hunter: #aad372;
$mage: #68ccef;
$warrior: #c69b6d;
$warlock: #9382c9;
$priest: #f0ebe0;
$shaman: #2359ff;
$rogue: #fff468;

$raid: #0da222;
$dungeon: #237893;
$battleground: #ae2600;
$city: #e08308;
$zone: #b5cdb0;

@mixin dungeonGradient {
	background: linear-gradient(
		170deg,
		rgba(46, 42, 37, 1) 0%,
		rgba(46, 42, 37, 1) 50%,
		rgba(35, 120, 147, 1) 100%
	);
}
@mixin raidGradient {
	background: linear-gradient(
		170deg,
		rgba(46, 42, 37, 1) 0%,
		rgba(46, 42, 37, 1) 50%,
		rgba(13, 162, 34, 1) 100%
	);
}
@mixin battlegroundGradient {
	background: linear-gradient(
		170deg,
		rgba(46, 42, 37, 1) 0%,
		rgba(46, 42, 37, 1) 50%,
		rgba(174, 38, 0, 1) 100%
	);
}
@mixin cityGradient {
	background: linear-gradient(
		170deg,
		rgba(46, 42, 37, 1) 0%,
		rgba(46, 42, 37, 1) 50%,
		rgba(224, 131, 8, 1) 100%
	);
}
@mixin zoneGradient {
	background: linear-gradient(
		170deg,
		rgba(46, 42, 37, 1) 0%,
		rgba(46, 42, 37, 1) 50%,
		rgba(100, 113, 98, 1) 100%
	);
}

@mixin borderDesign {
	border: 0;
	border-radius: 5px;
	border: 1px solid #373533;
	border-top: 1px solid #514f4c;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

$classColors: (
	"Druid": $druid,
	"Hunter": $hunter,
	"Mage": $mage,
	"Paladin": $paladin,
	"Priest": $priest,
	"Rogue": $rogue,
	"Shaman": $shaman,
	"Warlock": $warlock,
	"Warrior": $warrior,
);
span.Druid {
	color: $druid;
}
span.Hunter {
	color: $hunter;
}
span.Mage {
	color: $mage;
}
span.Paladin {
	color: $paladin;
}
span.Priest {
	color: $priest;
}
span.Rogue {
	color: $rogue;
}
span.Shaman {
	color: $shaman;
}
span.Warlock {
	color: $warlock;
}
span.Warrior {
	color: $warrior;
}
$breakpoints: (
	xs: 576px,
	sm: 768px,
	md: 992px,
	lg: 1200px,
);

@mixin respond-above($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint) {
		$breakpoint-value: map-get($breakpoints, $breakpoint);
		@media (min-width: $breakpoint-value) {
			@content;
		}
	} @else {
		@warn 'Invalid breakpoint: #{$breakpoint}.';
	}
}
@mixin respond-below($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint) {
		$breakpoint-value: map-get($breakpoints, $breakpoint);
		@media (max-width: ($breakpoint-value - 1)) {
			@content;
		}
	} @else {
		@warn 'Invalid breakpoint: #{$breakpoint}.';
	}
}

@mixin respond-between($lower, $upper) {
	@if map-has-key($breakpoints, $lower) and map-has-key($breakpoints, $upper) {
		$lower-breakpoint: map-get($breakpoints, $lower);
		$upper-breakpoint: map-get($breakpoints, $upper);
		@media (min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint - 1)) {
			@content;
		}
	} @else {
		@if (map-has-key($breakpoints, $lower) == false) {
			@warn 'Your lower breakpoint was invalid: #{$lower}.';
		}
		@if (map-has-key($breakpoints, $upper) == false) {
			@warn 'Your upper breakpoint was invalid: #{$upper}.';
		}
	}
}

@mixin active-nav($classColor) {
	&.active {
		color: white;
		background-color: rgba(0, 0, 0, 0.2);
		border-bottom: 1px solid $classColor;
		box-shadow: 0 7px 5px -5px rgba($classColor, 0.5);
	}
	&:hover {
		border-color: $classColor;
	}
}
@mixin class-nav-colors {
	@each $name, $color in $classColors {
		&#{$name} {
			@include active-nav($color);
		}
	}
}

@mixin class-hover($classColor) {
	button {
		&:hover {
			border-bottom-color: $classColor;
			box-shadow: 0 5px -3px $classColor;
		}
	}
}
@mixin class-hover-colors {
	@each $name, $color in $classColors {
		&.#{$name} {
			@include class-hover($color);
		}
	}
}
@mixin class-selected($classColor) {
	box-shadow: 0 5px 3px -3px $classColor;
}
@mixin class-selected-shadow {
	@each $name, $color in $classColors {
		&.#{$name} {
			& > figure {
				@include class-selected($color);
			}
		}
	}
}

@mixin guides-colors($classColor) {
	color: $classColor;
}
@mixin guides-hover {
	@each $name, $color in $classColors {
		&.#{$name} {
			&:hover {
				figcaption {
					@include guides-colors($color);
				}
			}
		}
	}
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

html {
	font-size: 16px;
	font-family: $body-font;
	background-color: $bg-color;
	letter-spacing: 0.05ch;
	line-height: 1.5;
	color: lightgray;
	height: 100%;
}

.clearfix {
	&:after {
		content: "";
		clear: both;
		display: table;
	}
}

body {
	margin: 0;
	height: 100%;
}

.caps {
	text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $body-font;
}

h3 {
	&.legendary {
		color: #ff8000 !important;
	}
	&.epic {
		color: #a335ee !important;
	}
	&.rare {
		color: #0070dd !important;
	}
	&.uncommon {
		color: #1eff00 !important;
	}
}

a {
	transition: border-color 0.1s, color 0.1s;
}
article {
	background-color: $bg-bright;
	border: 1px solid #707070;
	margin-bottom: 10px;
	padding: 0.75rem 1.25ch;
	width: 100%;
	@include borderDesign;
	figure {
		margin: 0;
		overflow: hidden;
		position: relative;
		button {
			display: flex;
			flex-flow: row wrap;
			background-color: transparent;
			border: 0;
			width: 100%;
			&:hover {
				filter: brightness(1.2);
			}
		}
		figcaption {
			padding-left: 2ch;
			width: 100%;
		}
		img {
			height: 36px;
			width: 36px;
			@include borderDesign;
		}
	}
	img {
		filter: grayscale(1);
	}
	h3 {
		display: flex;
		justify-content: space-between;
		margin: 0;
		margin-bottom: 10px;
		span {
			margin-left: auto;
		}
		&.gear-type {
			text-transform: capitalize;
			img {
				border: 0;
				box-shadow: none;
				width: 0.8rem;
				height: auto;
				&.open {
					transform: rotate(45deg);
					transition: transform 0.1s ease-in-out;
				}
				&.closed {
					transform: rotate(0deg);
					transition: transform 0.1s ease-in-out;
				}
			}
		}
	}
	small {
		display: block;
		opacity: 0.75;
	}
	ul {
		list-style: none;
		margin: 0;
		overflow: hidden;
		padding: 0;
		transition: all 0.2s ease-in-out;
		&.open {
			padding-top: 20px;
		}
		li {
			margin-bottom: 10px;
			a {
				background-color: #231f1c;
				color: $body-color;
				display: block;
				padding: 0.5rem 1.5ch;
				text-decoration: none;
				h3,
				h4 {
					margin: 0;
					line-height: 1.5;
				}
				h3 {
					font-size: 16px;
				}
				h4 {
					font-size: 14px;
					font-family: $body-font;
					font-weight: lighter;
				}
			}
		}
	}
}

header {
	nav {
		z-index: 1;
		background-color: $nav-bg;
		height: 15px;
		overflow: hidden;
		transition: all 0.1s ease-in-out;
		@include respond-above(md) {
			height: auto;
		}
		&.open {
			height: auto;
			overflow: visible;
			.container {
				height: 100%;
				overflow: visible;
			}
		}
		img {
			width: 0.9rem;
			height: 0.9rem;
		}
		.container {
			background-color: $nav-bg;
			padding: 0;
			height: 0;
			overflow: hidden;
			@include respond-above(md) {
				height: auto;
			}
			ul {
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-template-rows: auto;
				align-items: stretch;
				gap: 0;
				list-style: none;
				height: 100%;
				padding: 0;
				margin: 0;
				padding: 0;
				width: 100%;
				@include respond-above(sm) {
					grid-template-columns: 1fr repeat(3, auto);
				}
				li {
					width: 100%;
					&:first-child {
						width: auto;
						margin-right: auto;
					}
					a {
						height: 100%;
						display: flex;
						justify-content: flex-start;
						align-items: center;
						img {
							margin-right: 1ch;
						}
						border-bottom: 1px solid transparent;
						color: #adadad;
						font-family: $headline-font;
						font-size: 0.9rem;
						font-weight: bold;
						padding: 0.5rem 1.5ch;
						text-decoration: none;
						text-transform: uppercase;
						&:hover {
							color: #fdfffc;
						}
						@include respond-above(sm) {
							padding: 0.5rem 2ch;
						}
						@include respond-above(md) {
							padding: 1rem 3ch;
						}
					}
				}
			}
		}
	}

	.container {
		align-items: flex-start;
		justify-content: space-between;
		height: auto;
		@include respond-above(lg) {
			display: flex;
			width: 100%;
			max-width: 1367px;
		}
		a {
			z-index: 1;
			transition: all 0.1s ease-in-out;
			&:hover {
				transform: scale(1.02);
				h1 {
					filter: brightness(1.2);
					box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
				}
			}
			&:active {
				transform: scale(0.95);
			}
		}
		h1 {
			display: flex;
			align-items: center;
			padding: 0.5rem;
			background: rgb(141, 47, 45);
			box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
			background: linear-gradient(270deg, rgba(141, 47, 45, 1) 0%, rgba(255, 116, 0, 1) 100%);
			transition: all 0.1s ease-in-out;
			img {
				opacity: 1;
				width: auto;
				height: calc(45px + 1rem);
				padding: 1rem;
				background-color: $nav-bg;
				@include respond-above(sm) {
					height: calc(60px + 1rem);
				}
			}
		}
	}
	.header-bg {
		position: absolute;
		opacity: 0.3;
		left: 0;
		top: 50%;
		transform: translateY(-35%);
		width: 100%;
		height: auto;
		z-index: 0;
	}
	.header-img {
		z-index: 0;
		position: relative;
		overflow: hidden;
		background-color: $nav-bg;
		.nav-toggle {
			align-self: center;
			z-index: 1;
			button {
				cursor: pointer;
				background: rgb(39, 34, 31);
				background: linear-gradient(20deg, rgba(39, 34, 31, 1) 0%, rgba(57, 53, 48, 1) 100%);
				box-shadow: 0 2px 7px rgba(0, 0, 0, 0.7);
				border: 0;
				text-align: center;
				transition: all 0.2s ease-in-out;
				width: 50px;
				height: 50px;
				img {
					width: 18px;
				}
				&:hover {
					filter: brightness(1.1);
					box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
				}
			}
			@include respond-above(md) {
				display: none;
			}
		}
	}
	.playercard {
		text-decoration: none;
		margin: 1rem 0;
		@include respond-below(md) {
			display: none;
		}
		figure {
			cursor: pointer;
			margin: 0;
			padding: 1rem;
			background-color: $nav-bg;
			border: 2px solid rgba(255, 255, 255, 0.1);
			display: flex;
			transition: filter 0.1s ease-in-out;
			width: 100%;
			@include respond-above(sm) {
				width: auto;
			}
			&:hover {
				filter: brightness(1.2);
			}
			img {
				width: 32px;
				height: 32px;
				margin: 0 0.5ch 0 0;
				border-radius: 5px;
				border: 1px solid #373533;
				box-shadow: 0 0 0 1px #2c2925, 0 2px 2px rgba(0, 0, 0, 0.5);
				overflow: hidden;
				&:first-child {
					border-radius: 100%;
				}
			}
			h3 {
				margin: 0;
				text-transform: uppercase;
				color: white;
				text-decoration: none !important;
			}
			figcaption {
				display: flex;
			}
			small {
				letter-spacing: 0.2ch;
				opacity: 0.6;
				text-transform: uppercase;
				text-decoration: none !important;
				color: $body-color;
			}
			strong {
				font-size: 1.25em;
				color: white;
				text-decoration: none !important;
			}
			.lvl {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-right: 2ch;
			}
		}

		.rogue {
			border-bottom-color: $rogue;
		}
		.priest {
			border-bottom-color: $priest;
		}
		.mage {
			border-bottom-color: $mage;
		}
		.hunter {
			border-bottom-color: $hunter;
		}
		.warrior {
			border-bottom-color: $warrior;
		}
		.druid {
			border-bottom-color: $druid;
		}
		.paladin {
			border-bottom-color: $paladin;
		}
		.shaman {
			border-bottom-color: $shaman;
		}
		.warlock {
			border-bottom-color: $warlock;
		}
	}
}

section {
	transition: height 0.2s ease-in-out;
}

#__next {
	height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
	align-items: flex-start;
	overflow-x: hidden;
}
.container {
	width: 100%;
	height: 100%;
	padding: 0 2ch;
	margin: auto;
	align-self: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	@include respond-above(lg) {
		padding: 0 3ch;
		width: 100%;
		max-width: 1367px;
	}
}
.content {
	padding: 3rem 0;
	&-enter {
		opacity: 0;
		transform: translateX(50px);
	}
	&-enter-active {
		opacity: 1;
		transform: translateX(0);
		transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
	}
	&-exit {
		opacity: 1;
	}
	&-exit-active {
		opacity: 0;
		transform: translateX(-50px);
		transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
	}
}

.left {
	text-align: left;
}
.iLvl {
	color: $iLvl;
}

.character {
	&-list {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			transition: all 0.1s ease-in-out;
			figure {
				padding: 1rem 2ch;
				margin: 0;
				display: flex;
				flex-flow: row wrap;
				align-items: flex-start;
				& > div {
					width: 100%;
					padding-right: 1.5rem;
					display: flex;
					img {
						&.faction {
							border-radius: 100%;
						}
					}
				}
				img {
					width: 32px;
					height: 32px;
					margin: 0;
					margin-right: 1ch;
					border-radius: 5px;
					border: 1px solid #373533;
					box-shadow: 0 0 0 1px #2c2925, 0 2px 2px rgba(0, 0, 0, 0.5);
					overflow: hidden;
					&:first-child {
						border-radius: 100%;
					}
				}
				figcaption {
					margin-top: 0.5rem;
				}
				.class-icon,
				.race-icon {
					img {
						border-radius: 5px;
					}
				}
				section {
					margin-top: 1rem;
					.input-submit {
						transform: translateY(0);
						display: flex;
						button {
							margin-left: auto;
							background-color: $cta-color;
							font-weight: bold;
							font-size: 1rem;
						}
					}
					ul {
						list-style: none;
						margin: 0;
						padding: 0;
					}
				}
			}
			h3,
			h4,
			h5 {
				margin-top: 0.25em;
				margin-bottom: 0.25em;
			}
			h3 {
				font-size: 1.5rem;
				color: white;
			}
			h4 {
				font-family: $body-font;
				font-weight: 100;
				font-size: 0.8em;
				text-transform: uppercase;
				letter-spacing: 0.3ch;
			}
			button {
				background-color: transparent;
				border: 1px solid transparent;
				color: $body-color;
				cursor: pointer;
				font-style: italic;
				padding: 0.5em 1ch;
				margin-right: 1ch;
				transition: all 0.1s ease-in-out;
				display: flex;
				align-items: center;
				img {
					border: 0;
					box-shadow: none;
					height: 18px;
					margin-right: 1ch;
					width: auto;
					&:first-child {
						border-radius: 0;
					}
				}
				&:last-of-type {
					margin-right: 0;
				}
				&:hover {
					background-color: rgba(255, 255, 255, 0.1);
				}
				&.button {
					&-select {
						&:hover,
						&:active {
							border-bottom-color: green;
						}
					}
					&-edit {
						&-active {
							color: orange;
							background-color: $nav-bg;
						}
					}
					&-delete {
						border: 0;
						&:hover {
							border-color: transparent;
							border-bottom: none;
							background-color: red;
						}
					}
				}
			}
			&.class-selected {
				@include class-selected-shadow;
				background-color: $bg-bright;
				width: 100%;
				figure {
					div {
						margin-top: 0;
					}
				}
			}
			&.saved-character {
				margin-bottom: 1rem;
				box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
				border-top: 1px solid rgba(255, 255, 255, 0.3);
				opacity: 0.85;
				ul {
					display: flex;
					align-items: center;
					flex-flow: row wrap;
				}
				.character-input {
					background-color: transparent;
					padding: 0;
					label {
						figure {
							padding: 0.5rem 1ch;
						}
					}
				}
				@include class-hover-colors;
				&.class-selected {
					box-shadow: 0px 5px 15px rgba(0, 0, 0, 16);
					transform: scale(1.05);
					opacity: 1;
					figure {
						div {
							img {
								width: 32px;
								height: 32px;
							}
						}
					}
					figcaption {
						align-items: flex-start;
						justify-content: flex-start;
						li {
							&.navigate {
								margin-top: 0.5rem;
								width: 100%;
								display: flex;
								background-color: $bg-color;
								a {
									width: 33.33%;
									text-decoration: none;
									button {
										width: 100%;
										margin: 0;
									}
								}
							}
						}
					}
				}
			}
		}
		.character-input {
			background-color: $nav-bg;
			padding: 1rem;
			figure {
				padding: 0.5rem;
				display: flex;
				align-items: center;
				img {
					margin: 0;
					margin-right: 1ch;
				}
			}
		}
	}
	&-input {
		.error-output {
			article {
				border: 0;
				box-shadow: none;
				background-color: rgba(255, 0, 0, 0.1);
				padding: 1rem 2ch;
				p {
					margin: 0 0 1rem;
					&:last-child {
						margin: 0;
					}
				}
			}
		}
		.input {
			&-namelevel {
				display: grid;
				justify-content: space-between;
				grid-template-columns: 1fr;
				grid-template-rows: auto;
				grid-template-areas: "name" "level" "gender";
				gap: 1rem 2ch;
				margin-bottom: 1rem;
				@include respond-above(xs) {
					grid-template-columns: 1.5fr 60px;
					grid-template-areas: "name level" "gender gender";
				}
				@include respond-above(sm) {
					grid-template-columns: 1.5fr 60px 1fr;
					grid-template-areas: "name level gender";
				}
				@include respond-above(md) {
					max-width: 903px;
					grid-template-columns: 1.5fr 60px 1fr auto;
				}
				& > div {
					margin-right: 0;
				}
				h2 {
					font-family: $body-font;
					font-weight: lighter;
					letter-spacing: 0.25ch;
				}
				div.name {
					grid-area: name;
					input {
						width: 100%;
					}
				}
				div.level {
					grid-area: level;
					input {
						width: 100%;
					}
				}
				div.gender {
					display: flex;
					flex-flow: row wrap;
					justify-content: space-between;
					grid-area: gender;
					h2 {
						width: 100%;
					}
					label {
						margin: 0;
						width: 48%;
						background-color: $bg-highlight;
						padding: 0.75em 2ch;
						h3 {
							font-family: $body-font;
							font-weight: normal;
						}
						&:hover {
							filter: brightness(1.25);
							opacity: 1;
						}
					}
				}
			}
			&-faction,
			&-race,
			&-class {
				h2 {
					font-family: $body-font;
					font-weight: lighter;
					letter-spacing: 0.25ch;
				}
				& > div {
					width: 100%;
					display: grid;
					justify-content: space-between;
					grid-template-columns: 1fr;
					grid-template-rows: auto auto;
					grid-template-areas: "headline" "option1";
					gap: 0.7rem 2ch;
					margin-bottom: 1rem;
					@include respond-above(md) {
						grid-template-columns: 1fr 1fr 1fr;
						grid-template-areas: "headline headline headline" "option1 option2 option3";
					}
					@include respond-above(lg) {
						grid-template-columns: 1fr 1fr 1fr 1fr;
						grid-template-areas: "headline headline headline headline" "option1 option2 option3 option4";
					}
				}
				div.faction,
				div.race,
				div.playerclass {
					h2 {
						width: 100%;
						margin: 0;
						grid-area: headline;
					}
					label {
						margin: 0;
						width: 100%;
						background-color: $bg-highlight;
						&:hover {
							filter: brightness(1.25);
							opacity: 1;
						}
						figure {
							padding: 0;
							img {
								margin-right: 1.5ch;
							}
							&:hover {
								filter: none;
								opacity: 1;
							}
						}
						&:nth-child(1) {
							grid-area: option1;
						}
						&:nth-child(2) {
							grid-area: option1;
						}
					}
				}
			}
			&-submit {
				margin-top: 2rem;
				position: static;
				transform: none;
				button {
					cursor: pointer;
					border: 0;
					background-color: $cta-color;
					color: white;
					font-family: $body-font;
					font-weight: bold;
					text-transform: uppercase;
					letter-spacing: 0.25ch;
					padding: 1em 2ch;
					width: 100%;
					transition: all 0.1s ease-in-out;
					&:hover {
						filter: brightness(1.25);
						box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
					}
					&:active {
						filter: brightness(1.5);
					}
				}
			}
		}
	}
}

.character-add {
	cursor: pointer;
	background-color: $cta-color;
	color: $body-color;
	border: 0;
	display: flex;
	align-items: center;
	padding: 1rem 2ch;
	transition: all 0.15s ease-in-out;
	margin-bottom: 1rem;
	&:hover {
		filter: brightness(1.2);
		box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
		color: white;
	}
	img {
		height: 1rem;
		margin-right: 1ch;
	}
}

.playerclass- {
	@include class-nav-colors;
}

.inactive {
	opacity: 20%;
	background-color: $bg-bright;
	&:hover {
		opacity: 1;
	}
}

.faction,
.race,
.playerclass,
.spec,
.gender {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	h2 {
		font-size: 0.7rem;
		font-weight: lighter;
		letter-spacing: 0.2ch;
		margin: 0 auto 10px;
		text-transform: uppercase;
		width: 100%;
	}
	[type="radio"] {
		position: absolute;
		opacity: 0;
		width: 0;
		height: 0;
	}
}

.footer-terms {
	background-color: $nav-bg;
	padding: 2rem;
	p {
		opacity: 0.75;
	}
}

.level,
.name,
.gender {
	label {
		display: block;
		margin: 0 auto 10px;
		width: 100%;
		font-weight: bold;
	}
	input {
		background-color: #27221f;
		color: lightgray;
		font-size: 1.25rem;
		padding: 0.5rem 1ch;
		line-height: 1;
		border: 0;
		border: 1px solid #373533;
		border-top: 1px solid #514f4c;
		overflow: hidden;
		width: 6ch;
	}
	h2 {
		font-size: 0.7rem;
		font-weight: lighter;
		letter-spacing: 0.2ch;
		margin: 0 auto 10px;
		text-transform: uppercase;
		width: 100%;
	}
}

.name {
	margin-right: 2ch;
	input {
		min-width: 18ch;
		text-align: left;
	}
}
.level {
	margin-right: 2ch;
}

.gender {
	cursor: pointer;
	display: flex;
	justify-content: flex-start;
	label {
		width: auto;
		margin: 0;
		margin-right: 1ch;
		padding: 0.5rem 1rem;
		h3 {
			margin: 0;
		}
	}
	h3 {
		font-size: 1rem;
		font-family: $body-font;
	}
}

.faction-icon,
.class-icon,
.race-icon,
.spec-icon,
.zone-icon {
	cursor: pointer;
	transition: all 0.1s ease;
	min-width: 48%;
	margin: 5px 10px;
	margin-left: 0;
	figure {
		margin: 0;
		padding: 10px 20px;
		background-color: $bg-highlight;
		border-radius: 3px;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		align-items: center;
		img {
			margin: 0 20px 0 0;
			border-radius: 5px;
			border: 1px solid #373533;
			border-top: 1px solid #514f4c;
			box-shadow: 0 0 0 2px #2c2925, 0 5px 5px rgba(0, 0, 0, 0.5);
			overflow: hidden;
			max-width: 100%;
			width: 32px;
		}
		&:hover {
			filter: brightness(125%) opacity(100%);
		}
	}
}

.race-icon {
	min-width: 23%;
}

.class-icon {
	min-width: 31%;
}

.faction-icon,
.zone-icon {
	img {
		border-radius: 50%;
	}
}

.input {
	&-character {
		background-color: $bg-bright;
		border: 1px solid #707070;
		display: grid;
		grid-template-rows: repeat(auto, 4);
		width: 67%;
		padding: 40px;
		& > section {
			margin-bottom: 40px;
			&:last-child {
				margin: 0;
			}
		}
	}
	&-namelevel {
		display: flex;
		flex-flow: row wrap;
	}
	&-submit {
		position: relative;
		transform: translateY(60px);
		a {
			display: block;
			position: absolute;
			right: 0;
			bottom: 0;
			background-color: #982529;
			color: #fdfffc;
			padding: 10px 25px;
			text-decoration: none;
			text-transform: uppercase;
			letter-spacing: 0.2ch;
			transition: all 0.1s ease-in-out;
			&:hover,
			&:active {
				filter: contrast(1.25) brightness(1.25);
				transform: translateX(5px);
			}
		}
	}
}

.home {
	padding: 1rem 0;
	@include respond-above(lg) {
		padding: 3rem 0;
	}
	.container {
		.new,
		.character {
			width: 100%;
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			grid-template-areas: "blurb" "list";
			gap: 1rem 2ch;
			align-items: flex-start;
			@include respond-above(lg) {
				gap: 2rem 4ch;
				grid-template-columns: 1fr;
				grid-template-rows: auto auto;
				grid-template-areas: "blurb" "list";
				padding: 0 2rem;
			}
		}
		figure {
			padding: 1rem 2ch;
		}
		.new {
			grid-template-areas: "blurb" "list";
			@include respond-above(md) {
				gap: 2rem 4ch;
				grid-template-columns: 1fr 1fr;
				grid-template-rows: auto auto;
				grid-template-areas: "blurb list" "blurb list";
			}
			@include respond-above(lg) {
				gap: 2rem 4ch;
				grid-template-columns: 1fr 2fr;
				grid-template-rows: auto auto;
				grid-template-areas: "blurb list" "blurb list";
			}
		}
		.character {
			&-new {
				grid-area: selected;
				.character-input {
					background-color: $bg-bright;
					padding: 1rem;
					@include borderDesign();
					margin-bottom: 3rem;
					figure {
						padding: 0.5rem;
						display: flex;
						align-items: center;
						img {
							margin: 0;
							margin-right: 1ch;
						}
					}
				}
			}
			&-selected {
				grid-area: selected;
			}
			&-list {
				grid-area: list;
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				align-items: flex-start;
				.saved-character {
					width: 100%;
					@include respond-above(sm) {
						width: 49%;
					}
					@include respond-above(md) {
						width: 32%;
					}
				}
				.character-input {
					label {
						figure {
							padding: 0.5rem 1ch;
							figcaption {
								margin: 0;
							}
						}
					}
				}
			}
		}
	}

	.edit-characters {
		border-top: 1px solid rgba(255, 255, 255, 0.1);
		margin-top: 2rem;
		width: 100%;
		@include respond-above(lg) {
			border: none;
			margin: 0;
		}
	}
	.blurb {
		width: 100%;
		margin-bottom: 2rem;
		position: relative;
		display: grid;
		grid-area: blurb;
		grid-template-rows: repeat(3, auto);
		grid-template-columns: 1fr;
		grid-template-areas: "headline" "subheading" "caption";
		justify-content: flex-start;
		@include respond-above(sm) {
			grid-template-rows: repeat(2, auto);
			grid-template-columns: 1fr 2fr;
			grid-template-areas: "headline headline" "subheading caption";
		}
		@include respond-above(lg) {
			grid-template-rows: 1fr;
			grid-template-columns: repeat(3, auto);
			grid-template-areas: "headline" "subheading" "caption";
		}
		h2 {
			font-size: 1.3rem;
			text-align: left;
			grid-area: headline;
			width: 100%;
			filter: brightness(1.25);
			padding-bottom: 1rem;
			text-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
			border-bottom: 1px solid rgba(255, 255, 255, 0.1);
			@include respond-above(lg) {
				font-size: 1.7rem;
				padding: 0;
			}
			small {
				display: block;
				font-weight: lighter;
			}
		}
		h3 {
			grid-area: subheading;
			font-size: 1.5rem;
			color: white;
			margin-bottom: 1rem;
			width: 100%;
		}
		caption {
			grid-area: caption;
			text-align: left;
		}
		p {
			color: $body-color;
			font-style: italic;
			grid-area: caption;
			max-width: 65ch;
			margin: 0;
			font-size: 0.9rem;
		}
		strong {
			color: white;
		}
	}
}
.spin {
	display: inline-block;
	width: 1.25em;
	height: 1.25em;
	border: 0.15em solid rgba(255, 255, 255, 0.3);
	border-radius: 50%;
	border-top-color: #fff;
	animation: spin 1s ease-in-out infinite;
	-webkit-animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
	to {
		-webkit-transform: rotate(360deg);
	}
}
@-webkit-keyframes spin {
	to {
		-webkit-transform: rotate(360deg);
	}
}
.gear {
	padding: 1rem 0;
	@include respond-above(lg) {
		padding: 3rem 0;
	}
	main {
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
	figure {
		transition: filter 0.1s ease-in-out;
		button {
			font-size: 1rem;
			display: flex;
			flex-flow: initial;
			color: $body-color;
			small {
				opacity: 0.5;
				text-align: left;
			}
		}
	}
	ul {
		background-color: $nav-bg;
		padding: 0.5rem 2ch;
		margin-top: 1rem;
	}
	.item {
		position: relative;
		background-color: transparent;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		padding: 0.5rem 0 1rem;
		font-family: $body-font;
		h3 {
			font-size: 1rem;
			line-height: 1.2;
		}
		h4 {
			font-weight: normal;
			font-style: normal;
			opacity: 1;
			margin-bottom: 0;
			max-width: calc(100% - 95px - 1.5ch);
		}
		button {
			display: flex;
			cursor: pointer;
			line-height: 1.6 !important;
			text-align: left;
			position: relative;
			padding: 0;
			.item-details {
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				width: 100%;
				padding-bottom: 0;
				.icon {
					align-self: flex-start;
				}
				.icon-phase {
					margin-bottom: 0;
				}
			}
			&:hover {
				filter: brightness(1.2);
				.icon {
					&-arrow {
						opacity: 1;
						filter: drop-shadow(rgba(0, 0, 0, 0.5));
					}
				}
			}
		}
		.item-stats {
			margin-top: 0.5rem;
			margin-bottom: 1rem;
		}
		.item-name {
			max-width: calc(100% - 52px - 2.5ch);
			margin-bottom: -5px;
		}
		small {
			opacity: 1;
		}
		.equip {
			&-type {
				display: flex;
				justify-content: space-between;
			}
			&-weapon {
				margin: 0;
				padding: 0;
				background-color: transparent;
				li {
					display: flex;
					justify-content: space-between;
					margin: 0;
				}
				&:hover {
					background-color: transparent;
				}
			}
			&-toggle {
				display: flex;
				flex-flow: row wrap;
				position: relative;
				aside,
				h4 {
					width: 100%;
				}
			}
			&-sell {
				margin-top: 0.5rem;
			}
			&-bonus {
				color: #1eff00;
			}
			&-spells {
				color: #1eff00;
			}
			&-link {
				margin-top: 1em;
				margin-left: auto;
				font-size: small;
				display: flex;
				padding: 0.25em 1.5ch;
				align-items: center;
				border: 1px solid rgba(255, 255, 255, 0.1);
				transition: all 0.1s ease-in-out;
				position: absolute;
				bottom: 0;
				right: 0;
				&:hover {
					background-color: $cta-color;
					border-color: $cta-color;
				}
			}
			&-set {
				margin-top: 1rem;
				color: #9d9d9d;
				h5 {
					color: #ffd100;
					font-weight: normal;
					margin: 0;
				}
				ul {
					margin: 0;
					padding: 0;
					background-color: transparent;
				}
				li {
					margin: 0;
				}
				.equip-set-list {
					padding-left: 1ch;
					margin-bottom: 1rem;
				}
			}
		}
		.wowhead {
			filter: grayscale(0);
			border: 0;
			width: 45px;
			height: 37px;
			box-shadow: none;
			margin-left: 1.5ch;
			&-icon {
				filter: grayscale(0);
				border: 0;
				width: 2ch;
				height: auto;
				box-shadow: none;
			}
		}
		.icon {
			filter: grayscale(0);
			width: 36px;
			height: 36px;
			@include borderDesign();
			margin-right: 1.5ch;
			color: rgba(54, 32, 32, 0);
			overflow: hidden;
			&-arrow {
				align-self: flex-start;
				filter: grayscale(0);
				width: 16px;
				height: 9px;
				border: 0;
				box-shadow: none;
				border-radius: 0;
				opacity: 0.5;
			}
			&-phase {
				filter: grayscale(0);
				width: 57px;
				height: 19px;
				margin-top: 0.5rem;
				border: 0;
				box-shadow: none;
				border-radius: 0;
			}
		}
		.money {
			filter: grayscale(0);
			width: 13px;
			height: 13px;
			border: 0;
			box-shadow: none;
			opacity: 1;
		}

		&:last-child a {
			border: 0;
		}
	}
	h2 {
		font-size: 1.7rem;
		padding-bottom: 1rem;
		width: 100%;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	}
	h3 {
		line-height: 1;
		margin-bottom: 0.25em;
	}
	h4 {
		font-size: 0.8em;
		font-style: italic;
		opacity: 0.7;
	}
	.column {
		width: 100%;
	}
	@media (min-width: 768px) {
		.column {
			width: 48%;
		}
	}
	@media (min-width: 1168px) {
		.column {
			width: 32%;
		}
	}
	article {
		transition: all 0.2s ease-in-out;
		&.gearslot {
			&-open {
				border-top: 1px solid #ff7400;
				border-bottom: 2px solid #ff7400;
				box-shadow: 0 10px 10px rgba(0, 0, 0, 0.75);
			}
		}
	}
	.blurb {
		width: 100%;
		display: flex;
		justify-content: space-between;
		div {
			width: 100%;
		}
	}
	.img-container {
		width: 40%;
		margin-left: 2ch;
		img {
			max-width: 100%;
			box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
		}
	}
	.faction-icon {
		min-width: auto;
		width: 24px !important;
		height: 24px;
		position: absolute;
		top: calc(36px + 1rem);
		left: 0.75em;
		margin: 0;
		filter: grayscale(0);
		border-radius: 100%;
	}
	.phase {
		&-button {
			overflow: hidden;
			cursor: pointer;
			&.active {
				background-color: rgba(255, 116, 0, 0.3);
			}
			&.inactive {
				background-color: rgba(255, 255, 255, 0.1);
			}
			&.check {
				position: absolute;
				width: 0;
				height: 0;
				opacity: 0;
			}
		}
	}
	.pagination {
		margin-top: 2rem;
		margin-bottom: 1rem;
		height: auto;
		padding: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 0.8rem;
		li {
			margin: 0;
		}
		a {
			border: 0;
			padding: 0.25em 1ch;
			color: $body-color;
			cursor: pointer;
			&:hover {
				background-color: $bg-bright;
			}
		}
		&__link--active {
			background: rgb(141, 47, 45);
			background: linear-gradient(270deg, rgba(141, 47, 45, 1) 0%, rgba(255, 116, 0, 1) 100%);
			padding: 3px;
			a {
				background-color: $nav-bg;
			}
		}
		&__link--disabled {
			opacity: 0.5;
			a {
				cursor: default;
				&:hover {
					filter: none;
					background-color: transparent;
				}
			}
		}
		.previous,
		.next {
			font-size: 0.8rem;
			text-transform: uppercase;
		}
	}
}
.zones {
	padding: 1rem 0;
	@include respond-above(lg) {
		padding: 3rem 0;
	}
	h2 {
		font-size: 1.3rem;
		padding-bottom: 1rem;
		width: 100%;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	}
	p {
		color: $body-color;
		font-style: italic;
		grid-area: caption;
		max-width: 65ch;
		margin: 0;
		font-size: 0.9rem;
	}
	section {
		box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.75);
		padding: 2px;
		padding-bottom: 4px;
		&.Zone {
			border-top: 2px solid $zone;
			@include zoneGradient();
		}
		&.Dungeon {
			border-top: 2px solid $dungeon;
			@include dungeonGradient();
		}

		&.Raid {
			border-top: 2px solid $raid;
			@include raidGradient();
		}
		&.City {
			border-top: 2px solid $city;
			@include cityGradient();
		}
		&.Battleground {
			border-top: 2px solid $battleground;
			@include battlegroundGradient();
		}
		& > div {
			padding: 1rem 3ch;
			background-color: $bg-bright;
		}
	}
}

.guide {
	&-grid {
		display: block;
		@include respond-above(lg) {
			display: grid;
			grid-template-columns: 1fr 2fr;
			gap: 2rem;
		}
		.class {
			&-feature {
				background-color: $bg-bright;
				padding: 1rem;
				position: relative;
				border-top: 10px solid transparent;
				@include respond-above(lg) {
					padding: 1rem 2rem;
				}
				h1 {
					color: white;
					font-size: 2rem;
					margin-top: 0;
					margin-bottom: 0.25em;
				}
				h2 {
					font-size: 1.25rem;
					margin-top: 0.25em;
				}
				img {
					position: absolute;
					top: 1rem;
					right: 1rem;
					width: 48px;
					height: 48px;
					@include borderDesign();
					@include respond-above(lg) {
						right: 2rem;
					}
				}
				p {
					color: $body-color;
				}
				&.Shaman {
					border-top-color: $shaman;
				}
				&.Druid {
					border-top-color: $druid;
				}
				&.Hunter {
					border-top-color: $hunter;
				}
				&.Mage {
					border-top-color: $mage;
				}
				&.Paladin {
					border-top-color: $paladin;
				}
				&.Priest {
					border-top-color: $priest;
				}
				&.Rogue {
					border-top-color: $rogue;
				}
				&.Warlock {
					border-top-color: $warlock;
				}
				&.Warrior {
					border-top-color: $warrior;
				}
			}
			&-reference {
				padding: 1rem;
				section {
					display: flex;
					flex-flow: row wrap;
					ul {
						list-style: none;
						width: 50%;
						margin: 0;
						padding: 0.25rem;
						@include respond-above(sm) {
							width: 25%;
						}
						@include respond-above(lg) {
							width: 50%;
						}
						li {
							font-size: 0.8rem;
							text-transform: uppercase;
							color: rgba(211, 211, 211, 0.6);
							letter-spacing: 0.35ch;
							line-height: 2.5;
							border-bottom: 1px solid rgba(255, 255, 255, 0.1);
							img {
								@include borderDesign();
								width: 32px;
								margin-right: 1ch;
							}
						}
					}
				}
			}
			&-guides,
			&-creators {
				background-color: rgba(0, 0, 0, 0.1);
				padding: 1rem 2ch;
				@include respond-above(md) {
					padding: 2rem 4ch 3rem;
				}
			}
			&-guides {
				margin-bottom: 2rem;
				h3 {
					margin-top: 0;
				}
				p {
					margin-bottom: 2em;
					font-style: italic;
					opacity: 0.75;
				}
				ul {
					display: flex;
					flex-flow: row wrap;
					margin: 0;
					padding: 0;
					list-style: none;
					justify-content: space-between;
					li {
						width: 100%;
						margin-bottom: 1rem;
						@include respond-above(xs) {
							width: 50%;
						}
						a {
							display: block;
							background-color: rgba(7, 3, 3, 0.2);
							text-decoration: none;
							padding: 1ch;
							transition: filter 0.15s ease-in-out;
							@include guides-hover();
							&:hover {
								filter: brightness(1.25);
								figcaption {
									img {
										opacity: 1;
									}
								}
							}
						}
					}
				}
				figure {
					margin: 0;
				}
				figcaption {
					color: $body-color;
					font-size: 1rem;
					display: flex;
					width: 100%;
					align-items: center;
					padding: 0.5rem 0.5ch;
					img {
						margin-left: auto;
						height: 1rem;
						width: 1rem;
						opacity: 0.7;
					}
				}
				img {
					max-width: 100%;
					width: 500px;
				}
			}
			&-creators {
				margin-bottom: 2rem;
				h3 {
					margin-top: 0;
				}
				figure {
					padding: 0;
					margin: 0;
				}
				figcaption {
					text-align: center;
					color: white;
					img {
						margin-left: 1ch;
						border-radius: 0;
						height: 0.8em;
						width: 0.8rem;
					}
				}
				img {
					width: 100px;
					height: 100px;
					border-radius: 100%;
				}
				ul {
					display: flex;
					flex-flow: row wrap;
					margin: 0;
					padding: 0;
					list-style: none;
					justify-content: flex-start;
					li {
						width: auto;
						margin-right: 2ch;
						a {
							display: block;
							text-decoration: none;
							padding: 1ch;
							transition: filter 0.15s ease-in-out;
							@include guides-hover();
							&:hover {
								filter: brightness(1.25);
							}
						}
					}
				}
			}
		}
	}
	&-default {
		background-color: $bg-bright;
	}
}

.about {
	main {
		display: flex;
		justify-content: space-between;
		p {
			width: 32%;
			margin-right: 1ch;
		}
	}
}

.quests {
	&-zone {
		font-size: 1rem;
		position: relative;
		margin-bottom: 10px;
		background-color: $bg-bright;
		width: 49%;
		overflow: hidden;
		width: 100%;
		@include respond-above(md) {
			width: 49%;
		}
		a {
			align-items: flex-end;
			align-self: center;
			background: #231f1c;
			color: white;
			cursor: pointer;
			display: flex;
			font-size: 0.9rem;
			font-weight: bold;
			flex-flow: row wrap;
			justify-content: space-between;
			padding: 15px 20px;
			position: relative;
			text-decoration: none;
			text-align: left;
			transition: all 0.1s ease-in-out;
			width: 100%;
			overflow: hidden;
			@include borderDesign();
			&:hover {
				border-bottom-color: #982529;
				filter: brightness(1.15);
			}
		}
		.zone-bg {
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			transform: translateY(-50%);
			height: auto;
			z-index: 0;
			img {
				width: 100%;
				height: auto;
			}
		}
		.zone-name {
			z-index: 1;
			margin-top: 4rem;
			margin-bottom: 0.5rem;
			font-size: 1rem;
		}
		div {
			text-align: left;
			align-self: center;
			z-index: 1;
			&.quests-range {
				width: 100%;
				margin-right: auto;
				flex-grow: 1;
				font-size: 0.7rem;
				text-transform: uppercase;
				letter-spacing: 0.2ch;
			}
			small {
				display: inline-block;
				font-size: 0.7rem;
				font-weight: lighter;
				color: $body-color;
				text-transform: uppercase;
				letter-spacing: 0.2ch;
				margin-right: 5px;
			}
		}
		.icons {
			position: absolute;
			bottom: 15px;
			right: 20px;
			display: flex;
			z-index: 1;
		}
		.faction,
		.zone {
			&-icon {
				margin: 5px 5px;
				overflow: visible;
				width: 24px;
				height: 24px;
				min-width: 0;
				img {
					width: 24px;
					height: 24px;
					border-radius: 50%;
					overflow: hidden;
				}
				&:after {
					content: attr(data-faction);
					background-color: rgba(1, 7, 33, 0.8);
					border-radius: 3px;
					display: flex;
					justify-content: center;
					align-items: center;
					height: 0;
					position: absolute;
					bottom: 28px;
					left: 50%;
					transform: translateX(-50%);
					transition: all 0.1s ease-in-out;
					overflow: hidden;
					box-sizing: border-box;
					opacity: 0;
					font-size: 0.8rem;
					text-transform: capitalize;
				}
				&:hover {
					&:after {
						border: 1px solid #777777;
						box-shadow: 0 0 0 1px #000000;
						border-top-color: #cfcfcf;
						height: 1.6rem;
						padding: 0 10px;
						opacity: 1;
					}
				}
			}
		}
	}
}

.zones {
	aside {
		width: 100%;
		position: relative;
		z-index: 0;
		@include respond-above(sm) {
			width: 25%;
		}
	}
	section {
		width: 100%;
		background-color: $bg-bright;
		position: relative;
		z-index: 1;
		@include respond-above(sm) {
			width: 75%;
		}
	}
	.container > div {
		width: 100%;
		margin-bottom: 2rem;
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		h2 {
			width: 100%;
			margin-bottom: 1em;
			@include respond-above(md) {
				width: auto;
				margin: 0;
				margin-right: 3ch;
			}
		}
		p {
			width: 100%;
			@include respond-above(md) {
				width: 100%;
				max-width: 80ch;
			}
			opacity: 0.8;
		}
	}
	&-container {
		width: 100%;
		ul {
			width: 100%;
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;
			transition: all 0.15s ease-in-out;
			li {
				width: 100%;
				padding: 0.5rem 1ch;
				background-color: $bg-bright;
				cursor: pointer;
				@include borderDesign;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 1rem;
				h3 {
					margin-top: 0.3em;
					margin-bottom: 0.3em;
					margin-right: auto;
				}
				img {
					height: 1.5rem;
					border-radius: 100%;
					margin-right: 1ch;
					&:last-of-type {
						height: 0.9rem;
						margin: 0;
					}
				}
				&:hover {
					filter: brightness(1.2);
				}
			}
			.worldzones {
				border-top: 2px solid $zone;
				&.active {
					@include zoneGradient();
				}
			}
			.dungeons {
				border-top: 2px solid $dungeon;
				&.active {
					@include dungeonGradient();
				}
			}

			.raids {
				border-top: 2px solid $raid;
				&.active {
					@include raidGradient();
				}
			}
			.cities {
				border-top: 2px solid $city;
				&.active {
					@include cityGradient();
				}
			}
			.battlegrounds {
				border-top: 2px solid $battleground;
				&.active {
					@include battlegroundGradient();
				}
			}
		}
	}
	&-list {
		width: 100%;
		overflow: hidden;
		transition: all 0.2s ease-in-out;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		h3 {
			width: 100%;
			margin-top: 0;
			font-size: 1.5rem;
			text-transform: uppercase;
			display: flex;
			small {
				margin-left: auto;
				font-size: 1rem;
				font-weight: 100;
				display: block;
				padding: 0.5rem 1ch;
				background-color: rgba(0, 0, 0, 0.1);
				em {
					margin-right: 2ch;
					opacity: 0.8;
					text-transform: none;
				}
				strong {
					font-weight: bold;
					color: $iLvl;
				}
			}
		}
	}
}
